@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,800&display=swap");

:root {
  --shaw-blue: #003087;
  --shaw-orange: #FC4C02;
  --container-pad: 2em 20%;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", sans-serif !important;
}

h1 {
  font-weight: 800;
}

.home-container {
  position: relative;
  padding-top: 60vh;
  width: 100%;
  overflow: hidden;
  background: whitesmoke;
}

.home-container > .container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
  padding: 0 4em 4em;
  z-index: 3;
}

.pos-f-t {
  position: absolute;
  top: 0;
  padding: 1em 0;
  width: 100%
}

.home-container > img {
  position: absolute;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-45%,-50%,0);
  transition: opacity 2s ease-in-out
}

.home-container > img.active {
  opacity: .3;
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.centerItems {
  display: flex;
  justify-content: center
}

.home-container > .container > img {
  width: 30%;
  height: auto;
  display: block;
}

.about-us {
  color: white;
  background-color: var(--shaw-blue);
  padding: var(--container-pad);
}

.contact-us {
  padding: var(--container-pad);
}

.inputBox {
  width: 100%;
  background-color: #eee;
  border-radius: .5em;
  padding: 20px;
  text-decoration-color: white;
  color: black;
  border: 1px solid transparent;
  transition: border 500ms ease-in-out
}

textarea:focus {
  animation: none !important
}

.inputBox:focus {
  border: 1px solid var(--gray-dark)
}

button.submitter {
  color: white;
  background-color: var(--shaw-orange);
  transition: background-color 500ms ease-in-out
}

button.submitter:hover {
  color: white;
  background-color: var(--shaw-blue);
}

button.submitter + button.btn {
  padding: 1rem !important;
  margin-bottom: 1.5rem !important;
}

input:disabled, textarea:disabled, button:disabled {
  opacity: .5;
}

footer {
  background-color: var(--shaw-blue);
  color: white;
  padding: var(--container-pad)
}

footer > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer a {
  color: white
}

footer span {
  margin: 0 1em;
}


@media (max-width: 576px) {
  :root {
    --container-pad: 4em 2em;
  }
  .home-container {
    padding-top: unset;
    min-height: 70vh;
  }

  .home-container > img {
    height: 101%;
    width: auto;
  }

  .home-container > .container > img {
    width: 100%;
    min-height: auto;
  }

  footer p:last-of-type {
    flex: 1 1 100%;
  }

}

@media (max-width: 1024px) {
  footer span:last-of-type {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .home-container > .container > img {
    width: 60%;
    min-height: auto;
  }
}

@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveImage {
  to {
    top: 50%;
    left: 50%;
    transform: translate3d(-55%,-50%,0);
  }
}
